@model ApiBankBackBone.Models.Apis.Api

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Api</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFree" /> @Html.DisplayNameFor(model => model.IsFree)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AccessCost" class="control-label"></label>
                <input asp-for="AccessCost" class="form-control" />
                <span asp-validation-for="AccessCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyCost" class="control-label"></label>
                <input asp-for="MonthlyCost" class="form-control" />
                <span asp-validation-for="MonthlyCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalAccessRules" class="control-label"></label>
                <textarea asp-for="AdditionalAccessRules" class="form-control" ></textarea>
                <span asp-validation-for="AdditionalAccessRules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="License" class="control-label"></label>
                <input asp-for="License" class="form-control" />
                <span asp-validation-for="License" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
